body {
    font-family: Arial, sans-serif;
    background-color: #dfbad7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.player {
    background-color: #97cdeb;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    text-align: center;
}

.current-track {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.album-art {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    margin-right: 10px;
}

.track-info {
    flex-grow: 1;
    text-align: left;
}

.controls button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.controls button:hover {
    background-color: #0056b3;
}

.controls input[type="range"] {
    width: 100%;
    margin-top: 10px;
}

.playlist {
    margin-top: 20px;
}

#search {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#playlist-container {
    max-height: 200px;
    overflow-y: auto;
}

.playlist-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
}

.playlist-item:hover {
    background-color: #e29b3eb8;
}
